@model Data.Models.Experience

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort erfarenhet</h2>

<h3>Är du säker på att du vill ta bort denna erfarenhet?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till mitt CV", "Index", "Cv")
        </div>
    }
</div>
