@model IEnumerable<Data.Models.User>
@{ 
    if (Model == null || !Model.Any())  
    {
       return;
    }
    var users = Model.ToList(); 
}

<span>
    @for (var i = 0; i < users.Count; i++)
    {
        var user = users[i];
        <a href="@Html.Action("Index", "Home", new {UserName = user.UserName})">@user.UserName</a>@(i+1 != users.Count ? ", ": "")
    }
</span>

@*<table class="table"
       @foreach (var item in Model) {<tr>
            <td>
                @Html.ActionLink(item.UserName, "Index", "Home", new { id = item.UserName }) |

            </td>
        </tr>
    }

</table>*@
