@model Shared.Models.HomeViewModel

<div class="jumbotron">
    <h1>SENASTE PROJEKTET:</h1>
    <h2> @Html.DisplayFor(model => model.ProjectName) </h2>
    <h3 class="lead"> @Html.DisplayFor(model => model.ProjectDescription) </h3>
    <p>@Html.ActionLink("LÄS MER OM PROJEKTET", "MainIndex", "Project", new { searchString = Model.ProjectName }, null) </p>
</div>
