@model Shared.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@{ if (Model.ProjectName != null)
   {
        <div>
            @Html.Partial("_NewestProject")
        </div>
   }
   else
   {
        <div class="jumbotron">
            <h1>INGA PROJEKT FINNS</h1>
        </div>
   }
}
<div class="row">
    @Html.Partial("_CV")
    @*<div class="col-md-4">
        <h2>Skicka meddelande</h2>
        <p>@Html.ActionLink("Skicka", "Create", "Message")</p>
    </div>*@
</div>
@section scripts{
    @*<script>
        $(document).ready(function () {
            setInterval(function () {
                var count;
                $.get('/api/message/countmessages/', function (result) {
                    count = result;
                    $("#resultCount").html("(Olästa:" + count + ")");
                })
            }, 3000);
        })
    </script>*@
}