@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SENASTE PROJEKTET</h1>
    <p class="lead">Lägg till info om det senaset projektet</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">LÄS MER</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CV nr 1</h2>
        <p>
            Namn och bild på CV
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">LÄS MER</a></p>
    </div>
    <div class="col-md-4">
        <h2>CV nr 2</h2>
        <p>Namn och bild på CV</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">LÄS MER</a></p>
    </div>
    <div class="col-md-4">
        <h2>CV nr 3</h2>
        <p>Namn och bild på CV</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">LÄS MER</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skicka meddelande</h2>
        <p>@Html.ActionLink("Skicka", "Create", "Message")</p>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            setInterval(function () {
                var count;
                $.get('/api/message/countmessages/', function (result) {
                    count = result;
                    $("#resultCount").html("(Olästa:" + count + ")");
                })
            }, 3000);
        })
    </script>
}