@model Shared.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@{ if (Model.ProjectName != null)
    {
        <div>
            @Html.Partial("_NewestProject")
        </div>
    }
    else
    {
        <div class="jumbotron">
            <h1>INGA PROJEKT FINNS</h1>
        </div>
    }
}
<div class="row">
    @Html.Partial("_CV")
</div>