@model IEnumerable<Data.Models.UsersInProjects>

@{
    ViewBag.Title = "InProjectIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Användare involverade i projektet</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Visa CV", "Index", new { userName = item.UserName })
            </td>
        </tr>
    }
    
</table>

<div>
    @Html.ActionLink("Tillbaka till projekt", null, null, null, new { href = Request.UrlReferrer })
</div>
