@model Shared.Models.CvIndexView


<table class="table">
    @foreach (var item in Model.ListOfExperiences)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", "Experience", new { id = item.Id }, null) |
                @Html.ActionLink("Ta bort", "Delete", "Experience", new { id = item.Id }, null)
            </td>
        </tr>
     }
</table>