@model Shared.Models.CvIndexView


<table class="table">
    @foreach (var item in Model.ListOfCompetence)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", "Competence", new { id = item.Id }, null) |
                @Html.ActionLink("Ta bort", "Delete", "Competence", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
