@model Shared.Models.CvIndexView


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListOfEducation)
        </th>
    </tr>

    @foreach (var item in Model.ListOfEducation)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", "Education", new { id = item.Id }, null) |
                @Html.ActionLink("Ta bort", "Delete", "Education", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
