@model Shared.Models.CvIndexView


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListOfExperience)
        </th>
    </tr>

    @foreach (var item in Model.ListOfExperience)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
