@model Shared.Models.CvIndexView


<table class="table">

    <tr>
        <th>
            Namn
        </th>
        <th>
            Beskrivning
        </th>
        <th>
            Tillagt datum
        </th>
    </tr>

    @foreach (var item in Model.ListOfProjects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.ActionLink("Ta bort", "Delete", "UsersInProjects", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
